<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>www.julius3d.com</title>
</head>


<body ng-app="app">

<h1>2 + 2 = {{ 4*4 }}</h1>

<div ng-controller="CountryCtrl as countryCtrl">
	<ul>
		<li ng-repeat="c in countryCtrl.countries">
			<img src="./images/{{ c.code }}.png" alt="img">
			Country: {{ c.name }}
			
			<div ng-controller="StateCtrl as stateCtrl">
				<ul ng-show="c.states.length > 0">
					<li ng-repeat="s in c.states">{{ s.name }}</li>
				</ul>
				<input type="text" name="state" ng-model="stateCtrl.newState">
				<a href="" ng-click="stateCtrl.addStateTo(c)">Add State {{ stateCtrl.newState }}</a>
			</div>
		</li>
	</ul>
</div>

<!-- Vender Scripts -->
<script src="bower_components/angular/angular.min.js"></script>

<!-- Custom Scripts -->
<script src="app.js"></script>

</body>
</html>